CONFIG_ARM=y
CONFIG_ARCH_ZUKIMO=y
CONFIG_SYS_HAS_NONCACHED_MEMORY=y
CONFIG_SYS_NONCACHED_MEMORY=0x100000
CONFIG_SYS_CONFIG_NAME="zukimo"
# We have 512kB of internal SRAM:
# SRAM at 0x10000000 (0x10000000 - 0x10080000)
CONFIG_TEXT_BASE=0x10000000
CONFIG_SYS_MALLOC_LEN=0x1000000
CONFIG_SYS_MALLOC_F_LEN=0x2000
# Initial stack to top of SRAM:
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x1007c000
CONFIG_SYS_HAS_IPC_AREA=y
CONFIG_IPC_AREA_BASE=0x10068000
CONFIG_IPC_AREA_SIZE=0x8000
CONFIG_LINK_BSS_AREA_AFTER_IPC_AREA=y
# We have 2 banks of SDRAM:
# - 2GB at  0x80000000 ( 0x80000000 -  0xffffffff)
# - 6GB at 0x800000000 (0x800000000 - 0x8c0000000)
CONFIG_NR_DRAM_BANKS=2
CONFIG_COUNTER_FREQUENCY=125000000
CONFIG_ENV_SIZE=0x4000
CONFIG_ENV_SECT_SIZE=0x4000
CONFIG_IDENT_STRING=" zukimo"
CONFIG_SYS_LOAD_ADDR=0x80080000
CONFIG_BOOTDELAY=1
CONFIG_USE_BOOTARGS=y
# CONFIG_USE_BOOTCOMMAND is not set
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_SYS_PROMPT="Zukimo# "
CONFIG_DM_ETH=y
CONFIG_CMD_CACHE=y
CONFIG_DM=y
CONFIG_DM_SERIAL=y
CONFIG_OF_LIBFDT=y
CONFIG_ARCH_FIXUP_FDT_MEMORY=y
CONFIG_OF_LIBFDT_OVERLAY=y
# Use Uart 1 as separate debugging uart for psci and other services
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_DCT=y
# CONFIG_DEBUG_UART_BOARD_INIT is not set
CONFIG_DEBUG_UART_BASE=0x22090000
CONFIG_DEBUG_UART_CLOCK=25000000
CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=4
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOG_CONSOLE=y
CONFIG_LOGF_LINE=y
CONFIG_LOGF_FUNC=y
CONFIG_LOG_ERROR_RETURN=y
CONFIG_BOOTP_BOOTFILESIZE=y
CONFIG_REMAKE_ELF=y
# CONFIG_OF_BOARD is not set
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="zukimo"
CONFIG_OF_EMBED=y
CONFIG_CLK=y
# CONFIG_DISTRO_DEFAULTS is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_EFI_PARTITION is not set
# CONFIG_MMC is not set
CONFIG_ARMV8_PSCI=y
CONFIG_ARMV8_PSCI_CPUS_PER_CLUSTER=2
# CONFIG_PSCI_RESET is not set
CONFIG_ARMV8_SWITCH_TO_EL1=y
CONFIG_ARMV8_SPL_EXCEPTION_VECTORS=y
CONFIG_ARMV8_EA_EL3_FIRST=y
# Allocate secure base at the upper 64k of internal SRAM:
CONFIG_SYS_HAS_ARMV8_SECURE_BASE=y
CONFIG_ARMV8_SECURE_BASE=0x1007c000
CONFIG_ARMV8_PSCI_RELOCATE=y
CONFIG_ARM_SMCCC=y
# Configure Memtest
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_MEMTEST_START=0x800000000
CONFIG_SYS_MEMTEST_END=0x800100000
CONFIG_SYS_ALT_MEMTEST=y
CONFIG_SYS_ALT_MEMTEST_BITFLIP=y
# Configure MMC/SDHC
CONFIG_BLK=y
CONFIG_BLOCK_CACHE=y
CONFIG_MMC=y
CONFIG_MMC_WRITE=y
CONFIG_DM_MMC=y
CONFIG_MMC_SDHCI_ADMA_HELPERS=y
CONFIG_MMC_QUIRKS=y
CONFIG_SYS_MMC_MAX_BLK_COUNT=256
CONFIG_MMC_HW_PARTITIONING=y
CONFIG_MMC_IO_VOLTAGE=y
CONFIG_MMC_UHS_SUPPORT=y
CONFIG_MMC_HS200_SUPPORT=y
CONFIG_CMD_DM=y
CONFIG_CMD_MMC=y
CONFIG_MMC_TRACE=n
CONFIG_MMC_VERBOSE=y
# CONFIG_MMC_DCT_SDHC=n
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_ADMA=y
CONFIG_MMC_DCT_SDHCI_CADENCE=y
# Configure Network
CONFIG_ETH=y
CONFIG_NET=y
CONFIG_MII=y
CONFIG_PHYLIB=y
CONFIG_PHY_ADIN=y
CONFIG_DM_MDIO=y
CONFIG_DM_ETH_PHY=y
CONFIG_DM_ETH=y
CONFIG_CMD_BOOTP=y
CONFIG_NETDEVICES=y
CONFIG_MACB=y
CONFIG_CMD_NET=y
CONFIG_CMD_TFTPBOOT=y
CONFIG_CMD_PING=y
CONFIG_CMD_MII=y
CONFIG_CMD_MDIO=y
CONFIG_PROT_UDP=y
CONFIG_PROT_TCP=n
CONFIG_SYS_RX_ETH_BUFFER=4
CONFIG_CMD_DHCP=y
CONFIG_NET_RANDOM_ETHADDR=y
# Configure GPIO
CONFIG_DM_GPIO=y
CONFIG_DCT_IPC_GPIO=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_GPIO_READ=y
# Configure REGULATOR
CONFIG_CMD_REGULATOR=y
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_GPIO=y
# Configure FAT file system support
CONFIG_CMD_FAT=y
CONFIG_FS_FAT=y
CONFIG_FAT_WRITE=y
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_DEVICE_AND_PART="0"
CONFIG_SYS_CBSIZE=1024
CONFIG_DM_RESET=y
CONFIG_RESET_DCT_ZUKIMO=y
